---
import BaseLayout from "../components/BaseLayout.astro";
import NewsletterSignup from "../components/NewsletterSignup.astro";

const title = "Newsletter";
const description = "Newsletter about the fundamentals of building good software. The stuff that stays relevant for a whole career";
const permalink = `${Astro.site.href}newsletter`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="newsletter">
    <div class="container">
        <h1>Newsletter</h1>
        <NewsletterSignup/>
    </div>
</BaseLayout>
