---
import NewsletterSignupForm from "./NewsletterSignupForm.html"
---

<h4 id="signup_newsletter">
    Want to learn more? Sign up for the newsletter!
</h4>
<p>Stop trying to keep up with every new technology! Technologies come and go, the fundamentals of building good software don’t.</p>
<p>
    I will occasionally send you an e-mail about the fundamentals of building good software.
    About the things full stack engineers generally struggle with and solutions that stand the test of time. The stuff that stays relevant for the rest of your career!
</p>

<NewsletterSignupForm/>

<p>Examples of topics:</p>
<ul>
    <li>Building high-quality software (and why)</li>
    <li>Dealing with changing requirements</li>
    <li>Keeping the software in a good place when business only wants features ASAP</li>
    <li>Dealing with legacy code</li>
    <li>etc...</li>
</ul>
