<h4 id="signup_newsletter">
    Want to learn more? Sign up for the newsletter!
</h4>
<p>Stop trying to keep up with every new technology! Technologies come and go, the fundamentals of building good software don’t.</p>
<p>Learn the stuff every full stack developer needs to know, the stuff that will stay relevant for years to come!</p>

<style type="text/css">
    .signup-form #mc_embed_signup .button {
        background-color: var(--primary-color);
    }

    .signup-form #mc_embed_signup .button:hover {
        background-color: var(--text-secondary);
    }
</style>
<div id="mc_embed_shell" class="signup-form">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup {
            background: #fff;
            false;
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
            max-width: 600px;
        }

        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
        <form action="https://nvnh.us17.list-manage.com/subscribe/post?u=e298845160752d2eba26fd749&amp;id=163da5c191&amp;f_id=0006bce0f0"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
              target="_blank" novalidate="novalidate">
            <div id="mc_embed_signup_scroll">
                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input
                        type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""
                        aria-required="true"></div>
                <div class="mc-field-group"><label for="mce-FNAME">(optional) First Name </label><input type="text"
                                                                                                        name="FNAME"
                                                                                                        class=" text"
                                                                                                        id="mce-FNAME"
                                                                                                        value="">
                    <input type="hidden" name="tags" value="6590726">
                </div>
                <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    /* real people should not fill this in and expect good things – do not remove this or risk form bot
                    signups */
                    <input type="text" name="b_e298845160752d2eba26fd749_163da5c191" tabindex="-1" value="">
                </div>
                <div class="optionalParent">
                    <div class="clear foot">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"
                               value="Sign me up!">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script type="text/javascript">(function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
      fnames[1] = 'FNAME';
      ftypes[1] = 'text';
      fnames[2] = 'LNAME';
      ftypes[2] = 'text';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);</script>
</div>


<p>No spam, no sharing your data with third parties, unsubscribe at any time.</p>
