<h4 id="signup_tdd_training_exercise">
    Want to learn more? Get the FREE TDD training exercise!
</h4>
<p>TDD is not so much about the code you end up with, but about <strong>the way you got there</strong>. The best way to learn TDD, is to <strong>pair with an experienced engineer</strong>.</p>
<p>I can’t pair with every one of you, but there <strong>is</strong> something I can do:</p>
<p>Want to see how an <strong>experienced engineer</strong> uses <strong>TDD</strong> to build a <strong>web frontend</strong> and then <strong>apply it yourself</strong> in the same codebase?</p>
<p>Get the <strong>FREE</strong> TDD training exercise below.</p>
<p>We’ll go further than the trivial examples you find all over the internet, but without the stress and hassle of a real project. That way you learn things you can <strong>actually use</strong> in your day job.</p>
<p>We will be implementing a registration flow where users can sign up and confirm their account with a verification code.</p>
<p>You get:</p>
<ul>
    <li><strong>A <code>git</code> repository</strong> with:
        <ul>
            <li>the exercise itself</li>
            <li>the solution</li>
            <li>a commit for each step of the way</li>
        </ul>
    </li>
    <li><strong>1.5 hour of video</strong>:
        <ul>
            <li>going through the entire exercise from start to finish</li>
            <li>with explanation of what’s happening and why</li>
        </ul>
    </li>
</ul>
<style type="text/css">
    .signup-form #mc_embed_signup .button {
        background-color: var(--primary-color);
    }

    .signup-form #mc_embed_signup .button:hover {
        background-color: var(--text-secondary);
    }
</style>
<div id="mc_embed_shell" class="signup-form">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup {
            background: #fff;
            false;
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
            max-width: 600px;
        }

        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
        <form action="/signup?type=tdd-exercise"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
              target="_blank" novalidate="novalidate">
            <div id="mc_embed_signup_scroll">
                <div class="mc-field-group"><label for="mce-EMAIL">Email Address</label><input
                        type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""
                        aria-required="true"></div>
                <div class="mc-field-group"><label for="mce-FNAME">(optional) First Name </label><input type="text"
                                                                                                        name="FNAME"
                                                                                                        class="text"
                                                                                                        id="mce-FNAME"
                                                                                                        value="">
                    <input type="hidden" name="tags" value="6590726,6590730">
                </div>
                <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    /* real people should not fill this in and expect good things - do not remove this or risk form bot
                    signups */
                    <input type="text" name="b_e298845160752d2eba26fd749_163da5c191" tabindex="-1" value="">
                </div>
                <div class="optionalParent">
                    <div class="clear foot">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"
                               value="Send it to me!">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script type="text/javascript">
      setTimeout(function () {
        const form = document.getElementById("mc-embedded-subscribe-form");
        if (form) {
          form.action = [
            "https:/",
            "nvnh.us17.list-manage.com",
            "subscribe",
            "post?u=e298845160752d2eba26fd749&amp;id=163da5c191&amp;f_id=0006bce0f0",
          ].join("/");
        }

        const mailChimpScript = document.createElement("script");
        mailChimpScript.src = "//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
        document.documentElement.appendChild(mailChimpScript);

        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
      }, 1000);
    </script>
</div>
<p>No spam, no sharing your data with third parties, unsubscribe at any time.</p> </div>
